<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="geomydas" />
    <meta name="title" content="{{ title }}" />
    <meta name="description" content="{{ description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://metatags.io/" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="https://metatags.io/images/meta-tags.png" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://metatags.io/" />
    <meta property="twitter:title" content="Meta Tags — Preview, Edit and Generate" />
    <meta property="twitter:description" content="{{ description }}" />
    <meta property="twitter:image" content="https://metatags.io/images/meta-tags.png" />
    <link
      rel="preload"
      href="/fonts/inter-v18-latin-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/inter-v18-latin-700.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/inter-v18-latin-900.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <!-- prettier-ignore-start -->
    <style>
    {% set css %}{% include "output.css" %}{% endset %}
    {{ css | cssmin | safe }}
    </style>
    <!-- prettier-ignore-end -->
    <title>{{ title }}</title>
  </head>
  <body class="font-inter font-normal text-gray-900 dark:text-gray-100 bg-gray-100 dark:bg-gray-900">
    <header class="flex justify-between items-center bg-gray-200 p-8 dark:bg-gray-700">
      <a class="flex items-center gap-2 group" href="/" aria-current="page"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="2em"
          height="2em"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <linearGradient id="gradient" x1="0" y1="0" x2="100%" y2="100%">
            <stop  class="[stop-color:theme(colors.red.400)]"   offset="0"/>
            <stop class="[stop-color:theme(colors.orange.400)]" offset="20%" />
            <stop class="[stop-color:theme(colors.yellow.400)]"  offset="40%" />
            <stop class="[stop-color:theme(colors.green.400)]"  offset="60%" />
            <stop class="[stop-color:theme(colors.sky.400)]"  offset="80%" />
            <stop class="[stop-color:theme(colors.blue.400)]"  offset="100%" />
          </linearGradient>
          <path
            class="group-hover:fill-[url(#gradient)] fill-gray-900 dark:fill-gray-100"
            fill-rule="evenodd"
            d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433z"
            clip-rule="evenodd"
          ></path>
        </svg>
        <span
          class="font-extrabold text-inherit text-lg  group-hover:bg-rainbow bg-clip-text group-hover:text-transparent"
          >randev</span
        ></a
      >
      <nav>
        <ul class="flex items-center gap-4 text-lg">
          <li class="hover:bg-rainbow bg-clip-text hover:text-transparent font-bold">About</li>
          <li class="hover:bg-rainbow bg-clip-text hover:text-transparent font-bold">Blog</li>
        </ul>
      </nav>
    </header>
    {{ content | safe }}
  </body>
</html>
