@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .token.keyword,
  .token.operator {
    @apply text-purple-400;
  }

  .token.number {
    @apply text-orange-400;
  }

  .token.function {
    @apply text-blue-400;
  }

  .token.property {
    @apply text-blue-300;
  }

  .token.string {
    @apply text-green-300;
  }

  .token.selector {
    @apply text-yellow-400;
  }

  @font-face {
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/inter-v18-latin-regular.woff2") format("woff2");
    font-family: "Inter";
    font-display: swap;
  }

  @font-face {
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/inter-v18-latin-700.woff2") format("woff2");
    font-family: "Inter";
    font-display: swap;
  }

  @font-face {
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/inter-v18-latin-900.woff2") format("woff2");
    font-family: "Inter";
    font-display: swap;
  }
}
